body {
    background-color: rgb(8, 85, 110);
    color: #d87d06;
    font-size: 21px;
}
    

h1 {
    font-size: 70px;
    color: #d87d06;
    margin-left: 20px;
} 


img {
    width: 850px;
    height: 500px;
    object-fit: cover;
}

.top-section {
    width: 850px;
    height: 500px;
    font-size: 15px;
    background-image: url(https://dnaci.github.io/sunset.jpg);
    background-size: cover;
}

.bottom-image {
    width: 850px;
    height: 500px;
}

#photo_text {
    width: 200px;
}

